workflows/01-process-new-request.json
{
  "name": "01 - Process new DJ request",
  "nodes": [
    {
      "parameters": {
        "content": "Workflow 01: every minute read Google Sheet rows, process only rows with empty status, normalize with native OpenAI node, search Spotify by spotify_query and fallback AI_title, dedupe/score all tracks, update the matched row by Sygnatura czasowa. This workflow does not add anything to a Spotify playlist.",
        "height": 180,
        "width": 420
      },
      "id": "0f5cf2e4-3dd1-4ae5-81da-0a2ec9341b9a",
      "name": "README - workflow scope",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -360
      ]
    },
    {
      "parameters": {
        "content": "Required placeholders:\n- __GOOGLE_SPREADSHEET_ID__\n- __REQUESTS_SHEET_NAME__\n- __GOOGLE_SHEETS_CREDENTIAL_NAME__\n- __OPENAI_CREDENTIAL_NAME__\n- __SPOTIFY_CREDENTIAL_NAME__\n\nRows are matched and updated by the physical Google Form column: Sygnatura czasowa. Empty status means the row is new and ready to process.",
        "height": 260,
        "width": 420
      },
      "id": "e4b6fd7d-9ced-4837-b182-b281d1dfc646",
      "name": "README - placeholders and match key",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        -140
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "2a7774c1-2db2-467b-8288-3b0893a8f5b5",
      "name": "Schedule Trigger - every 1 minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        120
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SPREADSHEET_ID__",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "__REQUESTS_SHEET_NAME__",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a0d7f88b-7f49-491f-a79b-bd64bc761b13",
      "name": "Google Sheets - read request rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -440,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "__GOOGLE_SHEETS_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "function firstValue(row, keys) {\n  for (const key of keys) {\n    const value = row[key];\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return String(value).trim();\n    }\n  }\n  return '';\n}\n\nreturn $input.all().filter((item) => {\n  const row = item.json;\n  const status = firstValue(row, ['status', 'Status']);\n  const timestamp = firstValue(row, ['Sygnatura czasowa', 'Timestamp', 'timestamp']);\n  return status === '' && timestamp !== '';\n});"
      },
      "id": "9cadb087-b438-4016-9d59-feb54caa2d06",
      "name": "Filter - only empty status rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        120
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "49c3f917-2743-4da3-8a1d-841af0a69044",
      "name": "Loop - process one request row",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const row = $json;\n\nfunction firstValue(keys) {\n  for (const key of keys) {\n    const value = row[key];\n    if (value !== undefined && value !== null && String(value).trim() !== '') {\n      return String(value).trim();\n    }\n  }\n  return '';\n}\n\nconst timestamp = firstValue(['Sygnatura czasowa', 'Timestamp', 'timestamp']);\nconst title = firstValue(['Tytuł utworu', 'Tytul utworu', 'song_title_raw', 'Song title', 'Song Title', 'title', 'Title']);\nconst artist = firstValue(['Wykonawca', 'artist_raw', 'Artist', 'artist']);\nconst requester = firstValue(['Imię / stolik', 'Imie / stolik', 'requester_name', 'Your name', 'Name', 'Imie', 'Stolik', 'Table']);\nconst comment = firstValue(['Komentarz', 'komentarz', 'dedication', 'Dedication', 'Dedykacja', 'comment', 'Comment']);\n\nreturn [{\n  json: {\n    ...row,\n    timestamp_signature: timestamp,\n    form_title: title,\n    form_artist: artist,\n    requester_name: requester,\n    comment,\n    has_required_title: title.length > 0\n  }\n}];"
      },
      "id": "7b573af8-9b1d-4710-8b15-640df2c58258",
      "name": "Prepare request - map form fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "5ac6acb7-ce1b-458d-b08f-ff33a77b7d96",
              "leftValue": "={{ $json.has_required_title }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1704ca16-9979-4a31-bc5a-71caa966ea3c",
      "name": "IF - title exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        700,
        20
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You normalize music requests for a DJ. Return only a strict JSON object with keys AI_title, AI_artist, spotify_query. Do not invent an artist when it is unknown. Keep values concise."
            },
            {
              "content": "=Normalize this music request.\n\nTitle: {{ $('Prepare request - map form fields').item.json.form_title }}\nArtist: {{ $('Prepare request - map form fields').item.json.form_artist }}\nRequester/table: {{ $('Prepare request - map form fields').item.json.requester_name }}\nComment: {{ $('Prepare request - map form fields').item.json.comment }}\n\nReturn JSON like:\n{\"AI_title\":\"...\",\"AI_artist\":\"...\",\"spotify_query\":\"...\"}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "id": "800bd3dc-7425-442c-b390-f7fab558d62b",
      "name": "OpenAI - normalize request to JSON",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        980,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "name": "__OPENAI_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const request = $('Prepare request - map form fields').first().json;\nconst response = $json;\nconst content = response.message?.content ?? response.text ?? response.output ?? response.content ?? response;\nlet ai = {};\n\nif (typeof content === 'string') {\n  try {\n    ai = JSON.parse(content);\n  } catch (error) {\n    ai = {};\n  }\n} else if (content && typeof content === 'object') {\n  ai = content;\n}\n\nconst aiTitle = String(ai.AI_title || ai.title || request.form_title || '').trim();\nconst aiArtist = String(ai.AI_artist || ai.artist || request.form_artist || '').trim();\nlet spotifyQuery = String(ai.spotify_query || ai.query || '').trim();\n\nif (!spotifyQuery) {\n  spotifyQuery = [aiTitle, aiArtist].filter(Boolean).join(' ');\n}\n\nreturn [{\n  json: {\n    ...request,\n    AI_title: aiTitle,\n    AI_artist: aiArtist,\n    spotify_query: spotifyQuery,\n    confidence: 0,\n    ai_raw_response: typeof content === 'string' ? content : JSON.stringify(content)\n  }\n}];"
      },
      "id": "7fa67dce-40ff-41e3-bd04-f1e89c6d5fd1",
      "name": "Parse OpenAI normalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.spotify_query }}",
        "limit": 5,
        "filters": {}
      },
      "id": "2eeb16c0-2710-4d77-a2e0-701c0fe7dbf8",
      "name": "Spotify - search tracks by spotify_query",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1540,
        -160
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "__SPOTIFY_CREDENTIAL_NAME__"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "track",
        "operation": "search",
        "query": "={{ $json.AI_title }}",
        "limit": 5,
        "filters": {}
      },
      "id": "af7d66d7-2f3a-46bf-90c8-d12b8c876fb4",
      "name": "Spotify - fallback search by AI_title",
      "type": "n8n-nodes-base.spotify",
      "typeVersion": 1,
      "position": [
        1540,
        80
      ],
      "credentials": {
        "spotifyOAuth2Api": {
          "name": "__SPOTIFY_CREDENTIAL_NAME__"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "304d04d4-6ca2-4d27-8925-bd1eb61d8c4a",
      "name": "Merge - wait for both Spotify searches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1700,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const request = $('Parse OpenAI normalization').first().json;\nconst queryItems = $('Spotify - search tracks by spotify_query').all().map((item) => item.json.track || item.json).filter(Boolean);\nconst titleItems = $('Spotify - fallback search by AI_title').all().map((item) => item.json.track || item.json).filter(Boolean);\n\nfunction clean(value) {\n  return String(value || '')\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9 ]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction artistsText(track) {\n  return (track.artists || []).map((artist) => artist.name || artist).filter(Boolean).join(', ');\n}\n\nfunction spotifyUrl(track) {\n  return track.external_urls?.spotify || track.externalUrls?.spotify || track.url || '';\n}\n\nfunction spotifyUri(track) {\n  if (track.uri) return track.uri;\n  if (track.id) return `spotify:track:${track.id}`;\n  return '';\n}\n\nfunction trackKey(track) {\n  return spotifyUri(track) || track.id || `${clean(track.name)}:${clean(artistsText(track))}`;\n}\n\nconst seen = new Set();\nconst spotifyItems = [];\nfor (const track of [...queryItems, ...titleItems]) {\n  const key = trackKey(track);\n  if (!key || seen.has(key)) continue;\n  seen.add(key);\n  spotifyItems.push(track);\n}\n\nfunction scoreTrack(track) {\n  const wantedTitle = clean(request.AI_title || request.form_title);\n  const wantedArtist = clean(request.AI_artist || request.form_artist);\n  const trackTitle = clean(track.name);\n  const trackArtists = clean(artistsText(track));\n  let score = 0;\n\n  if (wantedTitle && trackTitle === wantedTitle) score += 0.55;\n  else if (wantedTitle && trackTitle.includes(wantedTitle)) score += 0.42;\n  else if (wantedTitle && wantedTitle.includes(trackTitle)) score += 0.32;\n\n  if (wantedArtist && trackArtists.includes(wantedArtist)) score += 0.35;\n  else if (!wantedArtist) score += 0.15;\n\n  const query = clean(request.spotify_query);\n  if (query && clean(`${track.name} ${artistsText(track)}`).includes(query)) score += 0.1;\n\n  const versionText = `${track.name || ''} ${track.album?.name || ''}`;\n  const unwantedVersion = /karaoke|tribute|cover|instrumental|originally performed/i.test(versionText);\n  const requestedVersion = /karaoke|cover|instrumental|tribute/i.test(`${request.form_title} ${request.comment}`);\n  if (unwantedVersion && !requestedVersion) score -= 0.2;\n\n  return Math.max(0, Math.min(1, Number(score.toFixed(2))));\n}\n\nlet best = null;\nlet confidence = 0;\nfor (const track of spotifyItems) {\n  const score = scoreTrack(track);\n  if (score > confidence) {\n    confidence = score;\n    best = track;\n  }\n}\n\nconst found = Boolean(best && spotifyUri(best) && confidence >= 0.65);\nconst searchSummary = `query results: ${queryItems.length}, title fallback results: ${titleItems.length}, unique tracks: ${spotifyItems.length}`;\n\nreturn [{\n  json: {\n    ...request,\n    spotify_track_name: found ? (best.name || '') : '',\n    spotify_artist: found ? artistsText(best) : '',\n    spotify_url: found ? spotifyUrl(best) : '',\n    spotify_uri: found ? spotifyUri(best) : '',\n    confidence,\n    status: found ? 'FOUND' : 'NOT_FOUND',\n    dj_note: found\n      ? `Found by Spotify fallback search. ${searchSummary}. DJ must manually approve before playlist workflow can add it.`\n      : `No sensible Spotify result after fallback search for query: ${request.spotify_query}; AI_title: ${request.AI_title}. ${searchSummary}.`\n  }\n}];"
      },
      "id": "d9a15a02-cd87-4d8f-9204-53e37957a33f",
      "name": "Evaluate Spotify results and confidence",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6bf4296f-dc3d-466c-9d89-a91a7557b3e6",
              "leftValue": "={{ $json.status }}",
              "rightValue": "FOUND",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e6f6f49e-0863-4618-999b-609a71cbff74",
      "name": "IF - sensible Spotify match",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2100,
        -80
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SPREADSHEET_ID__",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "__REQUESTS_SHEET_NAME__",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sygnatura czasowa": "={{ $json.timestamp_signature }}",
            "AI_title": "={{ $json.AI_title }}",
            "AI_artist": "={{ $json.AI_artist }}",
            "spotify_query": "={{ $json.spotify_query }}",
            "spotify_track_name": "={{ $json.spotify_track_name }}",
            "spotify_artist": "={{ $json.spotify_artist }}",
            "spotify_url": "={{ $json.spotify_url }}",
            "spotify_uri": "={{ $json.spotify_uri }}",
            "confidence": "={{ $json.confidence }}",
            "status": "FOUND",
            "dj_note": "={{ $json.dj_note }}"
          },
          "matchingColumns": [
            "Sygnatura czasowa"
          ],
          "schema": [
            {
              "id": "Sygnatura czasowa",
              "displayName": "Sygnatura czasowa",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_title",
              "displayName": "AI_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "AI_artist",
              "displayName": "AI_artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_query",
              "displayName": "spotify_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_track_name",
              "displayName": "spotify_track_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_artist",
              "displayName": "spotify_artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_url",
              "displayName": "spotify_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_uri",
              "displayName": "spotify_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dj_note",
              "displayName": "dj_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3dc793e0-6f67-41e1-ba4c-aab6d26d45a1",
      "name": "Google Sheets - update timestamp row FOUND",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2380,
        -180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "__GOOGLE_SHEETS_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SPREADSHEET_ID__",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "__REQUESTS_SHEET_NAME__",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sygnatura czasowa": "={{ $json.timestamp_signature }}",
            "AI_title": "={{ $json.AI_title || '' }}",
            "AI_artist": "={{ $json.AI_artist || '' }}",
            "spotify_query": "={{ $json.spotify_query || '' }}",
            "spotify_track_name": "",
            "spotify_artist": "",
            "spotify_url": "",
            "spotify_uri": "",
            "confidence": "={{ $json.confidence || 0 }}",
            "status": "NOT_FOUND",
            "dj_note": "={{ $json.dj_note || 'No sensible Spotify result was found.' }}"
          },
          "matchingColumns": [
            "Sygnatura czasowa"
          ],
          "schema": [
            {
              "id": "Sygnatura czasowa",
              "displayName": "Sygnatura czasowa",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI_title",
              "displayName": "AI_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "AI_artist",
              "displayName": "AI_artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_query",
              "displayName": "spotify_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_track_name",
              "displayName": "spotify_track_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_artist",
              "displayName": "spotify_artist",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_url",
              "displayName": "spotify_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "spotify_uri",
              "displayName": "spotify_uri",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dj_note",
              "displayName": "dj_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d3301054-3315-44a6-a2e0-d03883cd27c3",
      "name": "Google Sheets - update timestamp row NOT_FOUND",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2380,
        20
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "__GOOGLE_SHEETS_CREDENTIAL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "__GOOGLE_SPREADSHEET_ID__",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "__REQUESTS_SHEET_NAME__",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sygnatura czasowa": "={{ $json.timestamp_signature }}",
            "status": "NOT_FOUND",
            "dj_note": "Missing song title in the form response. Ask guest to submit again or fill it manually."
          },
          "matchingColumns": [
            "Sygnatura czasowa"
          ],
          "schema": [
            {
              "id": "Sygnatura czasowa",
              "displayName": "Sygnatura czasowa",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "dj_note",
              "displayName": "dj_note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c5a92f1e-3148-4ba8-a39e-4cb95489137c",
      "name": "Google Sheets - update timestamp row missing title",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        980,
        120
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "name": "__GOOGLE_SHEETS_CREDENTIAL_NAME__"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger - every 1 minute": {
      "main": [
        [
          {
            "node": "Google Sheets - read request rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - read request rows": {
      "main": [
        [
          {
            "node": "Filter - only empty status rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - only empty status rows": {
      "main": [
        [
          {
            "node": "Loop - process one request row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop - process one request row": {
      "main": [
        [],
        [
          {
            "node": "Prepare request - map form fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare request - map form fields": {
      "main": [
        [
          {
            "node": "IF - title exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - title exists": {
      "main": [
        [
          {
            "node": "OpenAI - normalize request to JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - update timestamp row missing title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - normalize request to JSON": {
      "main": [
        [
          {
            "node": "Parse OpenAI normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OpenAI normalization": {
      "main": [
        [
          {
            "node": "Spotify - search tracks by spotify_query",
            "type": "main",
            "index": 0
          },
          {
            "node": "Spotify - fallback search by AI_title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spotify - search tracks by spotify_query": {
      "main": [
        [
          {
            "node": "Merge - wait for both Spotify searches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spotify - fallback search by AI_title": {
      "main": [
        [
          {
            "node": "Merge - wait for both Spotify searches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge - wait for both Spotify searches": {
      "main": [
        [
          {
            "node": "Evaluate Spotify results and confidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Spotify results and confidence": {
      "main": [
        [
          {
            "node": "IF - sensible Spotify match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - sensible Spotify match": {
      "main": [
        [
          {
            "node": "Google Sheets - update timestamp row FOUND",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets - update timestamp row NOT_FOUND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - update timestamp row FOUND": {
      "main": [
        [
          {
            "node": "Loop - process one request row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - update timestamp row NOT_FOUND": {
      "main": [
        [
          {
            "node": "Loop - process one request row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - update timestamp row missing title": {
      "main": [
        [
          {
            "node": "Loop - process one request row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1bb4fb4d-97eb-41fa-9d14-78bbfa02835f",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "01-process-new-request",
  "tags": []
}
